.banner {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr;
  padding: 1.5% 25% 0% 25%; }

.banner-image {
  display: flex;
  height: 100px; }
  .banner-image img {
    align-items: center;
    height: 100px;
    width: auto;
    margin: auto; }

.banner-text {
  text-align: center;
  font-size: 2.5em;
  font-family: "Cooper Black", "Georgia";
  align-items: center;
  padding: 7% 0% 7% 0%;
  font-weight: normal; }

.link-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0% 10%; }
  .link-wrapper div {
    margin: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    height: 22px; }
    .link-wrapper divhover {
      border-bottom: 2px solid black; }
  .link-wrapper div a {
    color: #696969;
    text-decoration: none;
    transition: color 0.2s;
    font-family: "Georgia";
    letter-spacing: 0.5px; }
  .link-wrapper .contact {
    display: none; }
