.body-about-background-image>img {
    height: auto;
}

.body-about-text {
    text-align: center;
    font-family: "Georgia";
}

.heading-wrapper {
    font-size: 1.2em;
    font-weight: bold;
}

@media only screen and (min-width: 1000px) {
    .body-about-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body-about-background-image>img {
        width: 600px;
        height: auto;
        padding: 3%;
    }
    .body-about-text {
        line-height: 1.4em;
        width: 500px;
        padding: 3%;
    }
}

@media only screen and (max-width: 999px) {
    .body-about-background-image>img {
        width: 100vw;
        height: auto;
    }
    .body-about-text {
        top: 50%;
        left: 50%;
        line-height: 4vh;
        margin: 0vh 2vw;
    }
}