.footer-link-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0% 10%;
    div {
        margin: 10px;
        font-size: 1.2em;
        text-transform: uppercase;
        height: 22px;
        &:hover {
            a {
                border-bottom: 2px solid black;
                color: black;
            }
        }
    }
    div a {
        color: #696969;
        text-decoration: none;
        transition: color 0.2s;
        font-family: "Georgia";
        letter-spacing: 0.5px;
    }
    .active-link {
        border-bottom: 2px solid black;
        color: black;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
}

.socialbtns {
    display: flex;
    margin: 12px 5% 0 0;
    justify-content: space-between;
    img {
        text-decoration: none;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 30px;
        height: auto;
        cursor: pointer;
        &:hover {
            transform: scale(1.3);
            transition: 0.3s;
            box-shadow: 10px 10px 5px grey;
        }
    }
}