body {
    margin: 0px;
}

.display-none {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .banner {
        display: grid;
        grid-template-columns: 0.8fr 1.5fr;
        padding: 1.5% 25% 0% 25%;
    }
    .banner-image {
        display: flex;
        height: 100px;
        img {
            align-items: center;
            height: 100px;
            width: auto;
            margin: auto;
        }
    }
    .banner-text {
        text-align: center;
        font-size: 2.5em;
        align-items: center;
        padding: 7% 0% 7% 0%;
        font-weight: normal;
        a {
            text-decoration: none;
            font-family: "Cooper Black", "Georgia";
            color: black;
        }
    }
    .mobile-banner {
        display: none;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .link-wrapper {
        font-family: "Georgia";
        display: flex;
        justify-content: space-between;
        padding: 0% 10%;
        div {
            margin: 10px;
            font-size: 1.2em;
            text-transform: uppercase;
            height: 22px;
            &:hover {
                border-bottom: 2px solid black;
            }
        }
        .contact {
            display: none;
        }
        div a {
            color: #696969;
            text-decoration: none;
            transition: color 0.2s;
            &:hover {
                color: black;
                border-bottom: 2px solid black;
            }
        }
    }
    .active-link {
        border-bottom: 2px solid black;
        color: black !important;
    }
}

@media only screen and (max-width: 999px) {
    .banner {
        display: none;
    }
    .mobile-banner {
        display: grid;
        grid-template-columns: 0.15fr 0.7fr 0.15fr;
        padding: 0px;
        justify-content: space-evenly;
    }
    .menu-btn {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .menu-btn-burger {
        width: 30px;
        height: 2.7px;
        background: black;
        transition: all .1s ease-in-out;
    }
    .menu-btn-burger::before,
    .menu-btn-burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2.7px;
        background: black;
        transition: all .1s ease-in-out;
    }
    .menu-btn-burger::before {
        transform: translate(-15px, -10px);
    }
    .menu-btn-burger::after {
        transform: translate(-15px, 10px);
    }
    .menu-btn.open .menu-btn-burger {
        background: transparent;
    }
    .menu-btn.open .menu-btn-burger::before {
        transform: rotate(45deg)
    }
    .menu-btn.open .menu-btn-burger::after {
        transform: rotate(-45deg)
    }
    .mobile-banner-image>img {
        align-items: center;
        height: 50px;
        width: auto;
        margin: auto;
    }
    .mobile-banner-image {
        display: flex;
        width: 100%;
        margin: 0px;
    }
    .mobile-banner-text {
        text-align: center;
        font-size: 1.35em;
        font-family: "Cooper Black", "Georgia";
        align-items: center;
        padding: 7% 0% 7% 0%;
        font-weight: normal;
    }
    .mobile-menu-styles {
        text-align: center;
        background-color: lightgrey;
        height: 15vh;
        border-bottom: 1px solid darkgrey;
    }
    .each-menu-item {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 6vh;
        text-decoration: none;
        font-family: Georgia, serif;
        font-size: 1.2em;
        text-transform: uppercase;
        color: black;
        text-shadow: 2px 2px 5px grey;
    }
    .content-wrapper>.body-home-background-image {
        display: none;
    }
    .body-home-background-image-mobile>img {
        height: 70vh;
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        justify-content: center;
    }
    .body-home-text {
        font-size: 1.2em;
        padding: 1vh;
    }
    .footer-link-wrapper>.contact {
        display: none;
    }
    .padding-top {
        padding-top: 3vh;
    }
}